@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans+Condensed:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    /* font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; */

    font-family: 'Roboto Condensed', sans-serif;

    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a,
a:visited {
    text-decoration: none;
    color: #00AE68;
}

.about {
    display: flex;
}

#certification {
    display: flex;
}

.card {
    margin: 10px 0;
}

#social {
    width: 40px;
    margin: 0 5px;
    cursor: pointer;
}

#social-ul {
    list-style-type: none;
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-evenly;
}

.navbar .active {
    border-bottom: 2px solid #fff;
}

.navbar li a:hover {
    background-color: #fff;
    color: black !important;
    transition: 0.3s linear;
}

.clients img {
    width: 150px;
    border-radius: 75px;
}

/* Make slider next and prev visible */
#next,
#prev {
    filter: invert(100%);
}

@media screen and (max-width: 700px) {
    .about {
        flex-direction: column;
    }

    .about p {
        font-size: 14px;
    }

    .clients p {
        font-size: 14px;
    }

    .clients h2 {
        font-size: 18px;
    }

    #certification {
        flex-direction: column;
    }

    .photo {
        margin: 10px 0;
        ;
    }

    #social-ul {
        justify-content: space-around;
    }

    #fffl {
        display: flex !important;
        flex-direction: row;
    }

    .navbar b {
        font-size: 15px !important;
    }

    .navbar .active {
        border-bottom: none;
    }

    #certification {
        padding: 0 0;
    }

    .card-body {
        padding: 0 5px;
    }

    .card-body p {
        margin: 5px 0;
        font-size: 12px;
    }

    .page-footer {
        font-size: 14px;
    }
}

/* Dark mode */
@media(prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #fff;
    }

    .jumbotron {
        background-color: black;
    }

    .card p {
        color: black;
    }
}